---
title: Estimator
---

<div class="app">
    <div class="row">
        <div class="small-12 columns callout secondary">
            <p><strong>Estimated Hours: </strong> {{ estimate.hours }}</p>
            <p v-if="estimate.notes.length">
                <strong>Notes</strong>
                <ul>
                    <li v-for="note in estimate.notes">{{ note }}</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Site Info</h3>
            <div class="row">
                <div class="small-12 columns">
                    <div class="input-group">
                        <span class="input-group-label">Site Name</span>
                        <input class="input-group-field" type="text" v-model="name" placeholder="ex: broco.com"></input>
                    </div>
                    <div class="input-group">
                        <span class="input-group-label">Client</span>
                        <input class="input-group-field" type="text" v-model="client" placeholder="ex: BRO"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="showHosting">
        <div class="small-12 columns text-center">
            <h3>Hosting Account</h3>

            <div class="row">
                <div class="small-6 columns callout" v-on:click="pickHosting('new')" v-bind:class="{ 'success' : existingHost === false }">
                    <strong>New</strong>
                </div>
                <div class="small-6 columns callout" v-on:click="pickHosting('existing')" v-bind:class="{ 'success' : existingHost === true }">
                    <strong>Existing</strong>
                    <div v-if="showExistingHosting">
                        <div class="input-group">
                            <span class="input-group-label">Host</span>
                            <input class="input-group-field" type="text" v-model="hostName" placeholder="ex: Bluehost"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="showFeatures">
        <div class="small-12 columns text-center">
            <h3>Features</h3>
            <ul>
                <template v-for="(feature, feature_data) in features">
                    <li>
                        <input id="feature_{{ feature }}" type="checkbox" name="name" v-model="selections" value="{{ feature }}"><label for="feature_{{ feature }}">{{ feature_data.label }}</label>
                        <ul v-if="featureSelected(feature)">
                            <template v-for="(option, option_data) in feature_data.options">
                                <li>
                                    <input id="feature_{{ feature }}_{{ option }}" type="checkbox" v-model="selections" value="{{ feature }}-{{ option }}"><label for="feature_{{ feature }}_{{ option }}">{{ option_data.label }}</label>
                                </li>
                            </template>
                        </ul>
                    </li>
                </template>
            </ul>

        </div>
    </div>
</div>
